@mixin word-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
